Repository sledzikowy/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-any, run-all, run-site, run-devicecredential, run-discovery, run-inventory, run-swim, run-pnp

Path conditions:
  run-setup=false: any of: .*
  run-any: (any of: plugins/.*) or (any of: tests/integration/.*)
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
  run-swim: (any of: plugins/modules/swim_workflow_manager.py) or (any of: tests/integration/ccc_swim_management/.*)
  run-pnp: (any of: plugins/modules/pnp_workflow_manager.py) or (any of: tests/integration/ccc_pnp_management/.*)

Update dnac.py
  plugins/plugin_utils/dnac.py
Due: run-setup=false, run-any

Update dnac.py (#22)
  plugins/plugin_utils/dnac.py
Due: run-setup=false, run-any

6.16 Release Candidate
  galaxy.yml
Due: run-setup=false

Release v6.9.0 (#23)
  galaxy.yml
Due: run-setup=false

Change resource class
  .circleci/config.yml
Due: run-setup=false

Update exceptions.py
  plugins/module_utils/exceptions.py
Due: run-setup=false, run-any, run-all

Fix
  .circleci/config.yml
Due: run-setup=false

add continued
  .circleci/config.yml
Due: run-setup=false

comment run-any
  .circleci/config.yml
Due: run-setup=false

add workflow
  .github/workflows/integration_tests.yml
Due: run-setup=false

move ansible_cisco_dnac_version to pipeline params
  .circleci/config.yml
Due: run-setup=false

Add tf
  terraform/dnac-config-cdrom.iso
  terraform/dnac_config.json
  terraform/fusion_config.iso
  terraform/fusion_config.txt
  terraform/main.tf
  terraform/ny_border_config.iso
  terraform/ny_border_config.txt
  terraform/ny_wlc_config.iso
  terraform/ny_wlc_config.txt
  terraform/scripts/dnac/controller_config.json
  terraform/scripts/dnac/dnac-config-cdrom.iso
  terraform/scripts/dnac/prepare_dnac_iso.py
  terraform/sj_border_config.iso
  terraform/sj_border_config.txt
  terraform/sj_wlc_config.iso
  terraform/sj_wlc_config.txt
  terraform/transit_config.iso
  terraform/transit_config.txt
Due: run-setup=false
